@font-face {
  font-family: "iconfont"; /* Project id 1497385 */
  src: url('iconfont.woff2?t=1631928567946') format('woff2'),
       url('iconfont.woff?t=1631928567946') format('woff'),
       url('iconfont.ttf?t=1631928567946') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconremen:before {
  content: "\e608";
}

.iconaixin:before {
  content: "\e609";
}

.icontupian:before {
  content: "\e647";
}

.iconwode:before {
  content: "\e61a";
}

.icongonglve:before {
  content: "\e654";
}

.iconshouye:before {
  content: "\e61e";
}

.icondingdan:before {
  content: "\e787";
}

.iconwuxing:before {
  content: "\e621";
}

.iconwuxing1:before {
  content: "\e602";
}

.icondizhi:before {
  content: "\e63d";
}

.iconmenpiaopiaoxianxing:before {
  content: "\e60d";
}

.iconarrow-right:before {
  content: "\e628";
}

.iconfanhui:before {
  content: "\e624";
}

.iconjiantouxia:before {
  content: "\e62d";
}

.iconsousuo:before {
  content: "\e632";
}

