.font-level-1
  font-size x-large
  font-weight bold
// 遮罩层
.mask
  opacity 0.2
  background-color #000
  position absolute
  top 0
  left 0
  right 0
  bottom 0
.mask-content
  position absolute
  top 50%
  left 50%
  transform translate(-50%,-50%)
  z-index 2
  color white
  font-size large
  text-align center
//tab样式
.tab
  display flex
  flex-direction row
  justify-content space-around
  height 40px
  line-height 40px
  font-size large
//页面除去tabbar和navbar的区域
.main-content
  position absolute
  left 0
  right 0
  bottom 49px
  top 44px
  overflow hidden
.content-top
  position absolute
  left 0
  right 0
  bottom 49px
  top 0
  overflow hidden
.page
  position absolute
  left 0
  right 0
  bottom 0
  top 0
  overflow hidden